.members {
    &__grid {
        display: grid;
        grid-template-columns: 35% 1fr;
        gap: 20px;
    }

    &__card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    &__count {
        color: var(--grey-6-color);
        font-size: 18px;
        font-weight: bold;
    }

    &__table {
        position: relative;
        margin-top: 20px;

        &__wrapper {
            overflow-x: auto;
            border-radius: 12px;
            width: 100%;
            box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.1);

            &__icon {
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    opacity: .8;
                }
            }
        }

        .ant-btn {
            position: absolute;
            z-index: 1;
            top: 15px;
            left: 15px;
        }
    }

    .ant-table-wrapper {
        &.is-admin {
            .ant-table {
                padding-top: 75px;
            }
        }

        .ant-table {
            border-radius: 12px !important;
            overflow: hidden;
            background: #fafafa;

            &-tbody {
                .ant-table-cell {
                    background: var(--white-color);
                }
            }

            .ant-table-thead {
                & > tr > th {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .members {
        &__grid {
            display: -webkit-flex;
            flex-direction: column;
            padding-right: 0px !important;

            .info-block {
                width: 100%;
            }
        }
    }
}