@import 'antd/dist/antd.less';

@primary-color: #56CCF2;

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    border-radius: 7px;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.ant-avatar {
    border: 1px solid #e6e6e6;
}

.ant-notification-notice,
.ant-dropdown-menu  {
    border-radius: 12px;
}

.ant-dropdown-menu {
    padding: 10px;

    &-item {
        border-radius: 6px;    
        padding: 8px 12px;    

        &.is-delete {
            color: crimson;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.with-arrow {
    .ant-popover-arrow {
        display: initial;
    }
}

.ant-popover {
    z-index: 999;

    padding-bottom: 0px;

    &-inner {
        border-radius: 12px;

        &-content {
            padding: 12.5px;
        }
    }   

    &-arrow {
        display: none;
    }
}

.ant-input, 
.ant-btn, 
.ant-picker, 
.ant-input-affix-wrapper,
.ant-select-selector,
.ant-select-dropdown,
.ant-picker-dropdown {
    border-radius: 7px !important;

    &.is-error {
        border-color: crimson;
    }
}

.ant-select-dropdown {
    padding: 0;
}

.ant-select {
    height: 42px;

    &-selector {
        height: inherit !important;
    }

    &-selection-item {
        display: -webkit-flex;
        align-items: center;
    }
}

.ant-btn {
    font-size: 15px;
    font-weight: bold;
}

.ant-tag {
    border-radius: 2px;
}

.ant-picker-footer {
    display: none;
}

.ant-modal {
    &-content {
        border-radius: 12px;

        p {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.ant-descriptions-item {
    &-label, &-content {
        font-size: 15px;
    }
}

.ant-popover-message-title {
    font-size: 16px;
}

.ant-popover-buttons {
    .ant-btn {
        padding: 0 20px;
        height: 32px;
    }
}

.ant-picker-time-panel-cell-disabled {
    display: none !important;
}

.ant-picker-time-panel-column::after {
    height: 0px;
}

p {
    margin-bottom: 10px;
}

@media (max-width: 510px) {
    .with-arrow {
        .ant-popover-arrow {
            display: none;
        }
    }
}