@import 'antd/dist/antd.less';

@primary-color: #56CCF2;

.ant-input, 
.ant-btn, 
.ant-picker, 
.ant-input-affix-wrapper {
    border-radius: 7px;
}

.ant-btn {
    font-size: 15px;
    font-weight: bold;
}

.ant-tag {
    border-radius: 2px;
}