.schedule-one-day {
    position: relative;

    &__item {
        height: 40px;
        border-top: 1px solid var(--grey-color);
        position: relative;
        margin-top: 8px;

        & > span {
            font-size: 14px;
            font-weight: 600;
            position: absolute;
            top: -11px;
            left: 13px;
            text-align: right;
            width: 52px;

            & > span {
                background: var(--white-color);
                padding: 0 5px;
            }
        }
    }

    &__event {
        position: absolute;
        width: calc(100% - 75px);
        left: 75px;
        overflow: hidden;
        display: -webkit-flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            opacity: .8;
        }

        &__content {
            z-index: 3;
            font-size: 14px;
            font-weight: 600;
            display: -webkit-flex;
            align-items: center;

            span {
                margin-bottom: 0;
                margin-left: 20px;
            }

            &__bar {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                top: 14px;
                left: 15px;
            }
        }

        &__bg {
            position: absolute;
            inset: 0;
            opacity: .2;
            z-index: 1;
        }
    }
}